.box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.mixed-chart {
    margin-top: 30px;
    position: relative;

}


.box1 {
    width: 270px;
    height: 110px;
    background-color: #FFFFFF;
    color: rgb(15, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.text h2 {
    font-size: large;
    font-weight: 100;
}

.text1 {
    color: rgba(0, 0, 0, 0.582);
    width: 100%;
    margin-bottom: 25px;
    font-size: 15px;
    /* font-weight: 400; */
}

.text2 {
    color: rgba(0, 0, 0, 0.582);
    width: 100%;
    font-size: 15px;
    height: 13vh;
    margin-bottom: 30px;
    padding-right: 30px;
    /* font-weight: 400; */
}

.text3 {
    color: rgba(0, 0, 0, 0.582);
    font-size: 20px;
    height: 13vh;
    margin-top: 10px;
    /* font-weight: 400; */
}

.text3 .passage {
    font-size: 15px;
    margin-top: 15px;
}

.text3 span {

    width: 100%;
    font-size: 20px;
    font-weight: bold;

}

.text {
    color: rgba(0, 0, 0, 0.582);
    font-size: smaller;
    padding-left: 15px;
    margin-bottom: 25px;
    width: 70%;
    font-weight: 400;
}

.text h2 {
    font-size: large;
    font-weight: bold;
}

.box2 {
    width: 270px;
    height: 130px;
    background-color: white;
    color: rgb(15, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.box3 {
    width: 270px;
    height: 130px;
    background-color: white;
    color: rgb(15, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px 15px;
}

.box4 {
    width: 290px;
    height: 130px;
    background-color: white;
    color: rgb(15, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 0px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Circle {
    width: 35%;
    height: 100px;
    position: relative;
    margin-bottom: 2.6em;
}

.circle-2 {
    width: 25%;
    height: 100px;
    position: relative;
    margin-bottom: 2vh;
    margin-right: 15px;
}

.Circle img {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.graph-1 {
    width: 60%;
    height: 100%;
    right: -2em;
    margin-bottom: 3.5em;
    position: relative;
}

.graph-2 {
    position: relative;
    padding-bottom: 3em;
    width: 40%;
}